<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>cake shop</title>
	<link rel="stylesheet" href="themes/cakeshop.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div id="register-page" data-role="page">

    <div data-role="header">
        <h1>Register</h1>
    </div>
    <div data-role="content">
        <form action="/doRegister" data-ajax="false" method="post">
            <fieldset>
                <input type="text" name="nama" placeholder="nama"/>
                <input type="email" name="email"
                placeholder="email"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="text" name="address" placeholder="address" >
                <input type="radio" name="rbGender" value="laki"><label>laki</label>
                <input type="radio" name="rbGender" value="wanita"><label>wanita</label>
                <input type="submit" value="Submit"/>
            </fieldset>
        </form>
    </div>
</div>

</body>
</html>
